<div class='panel'>
  <div class='Profile'>
    <div class='Profile-logoImg'>
      <%= student.person.first_name.split.map(&:first).join %>
    </div>
    <div>
      <p class='Profile-name'><%= student.person.decorate.full_name %></p>
      <p class='Profile-name'>Estudiante</p>
    </div>
  </div>
  <div>
    <div class='Profile-data'>
      <p class='Profile-data-text'>Email: <%= student.user.email %></p>
      <p class='Profile-data-text'>Celular: <%= student.person.phone %></p>
    </div>


    <div class='ProfileActions'>
      <% if current_user.user_type == 'student'%>
        <div class='ProfileActions-option'>
          <i class="fas fa-address-card ProfileActions-option-icon"></i>
          <p class='ProfileActions-option-text'><%= link_to "Datos personales" , student_path(student.id) %> </p>
        </div>
      <% end %>
      <div class='ProfileActions-option'>
      <i class="fas fa-id-card ProfileActions-option-icon"></i>
      <p class='ProfileActions-option-text'><%= link_to "Datos Universitarios" , profile_student_path(student.id) %> </p>
    </div>
    </div>

  </div>
</div>